@model AppoinmentManagment.BusinessLayer.ListAppoinmentBO 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">Secretary Dashboard</h1>
<hr />
<div class="row">
    <div class="col-sm-3 col-3">
        <!-- small card -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3 id="appoinmentCount"></h3>

                <p>Total Pending Appoinments</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-plus"></i>
            </div>
            <a asp-route="GetAllPendingAppointment" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
 </div>
   

    @section Scripts {
        <script src="~/js/SecretaryDashboard.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

