
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Patient Dashboard</h1>
<hr />
<div class="row">
    <div class="col-sm-3 col-3">
        <!-- small card -->
        <div class="small-box bg-success">
            <div class="inner">
                <p>Take Appoinment</p>
            </div>
            <div class="icon">
                    <i asp-route="GetAllPatient" class="fas fa-user-plus"></i>
            </div>
            <a asp-route="appoinment" class="small-box-footer">
                 <i class="fas fa-plus-circle"></i>
            </a>
        </div>
    </div>
    </div>
